@media only screen
 and (min-device-width: 320px)
 and (max-device-width: 667px)
 and (-webkit-min-device-pixel-ratio: 2)
 and (orientation: portrait) {
   .content {
     display: block;
     width: 100%;
   }
   li {
     display: block;
   }
   img {
     max-width: 100vw;
     max-height: 20vw;
   }
   a > .button, button, .button {
     display: small;
   }
   .form-box {
     visibility: hidden;
   }
   .form-container {
     visibility: hidden;
   }
   input {
     display: block;
   }
   .label {
     display: block;
   }

}
