/*
.tile {
  border: #636b6f;
  display:block;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
} */

* {
  box-sizing: border-box;
}

/* .container {
  height:80vw;
  width:80vw;
  position: relative;
} */

.form-container {
  /* background-image: url("/images/coffee_pot_and_beans.jpg"); */
  border: 2px solid grey;
  /* height: 400px; */
  height: 47.75vw;
  margin: 0 auto;
  /* position: relative; */
  text-align: center;
  width: 80%;
  /* z-index:10; */
}

/* .side-image {
  position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
  position: absolute;
} */

/* div class main
img src class="sidebar"
div class dropdown container?
form  */

.main {
  display: flex;
  align-content: center;
  justify-content: center;
}

.sidebar {
  background-color: rgb(242,242,245);
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-right: 2px solid slategrey;
  max-height: 120%;
  object-fit: fill;
  object-position: center;
  repeat: no-repeat;
  max-width: 40%;
  display: flex;
  flex-direction: column;
}

.form-box {
  /* border: 2px solid lightgrey;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #bbb,
              -1px -1px 10px #bbb; */
  margin: 0 auto;
  margin-bottom: 20px;
  margin-left: 40%;
  margin-top: -60%;
  /* padding-top: 15px; */
  /* margin: 60px 45px 50px -20px;
  /* margin-top: 20px; */
  padding: 15px 15px 15px 20px;
  height: 50vw;
  width: 60%;
}

input[type="submit"]:active {
    color: #4286f4;
}

br {
  line-height: 1.5em;
}

@media only screen
 and (min-device-width: 375px)
 and (max-device-width: 667px)
 and (-webkit-min-device-pixel-ratio: 2)
 and (orientation: portrait) {
   .content {
     display: block;
     width: 100%;
   }
}
